.game{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.squareList{
    display: grid;

}
.square{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.selected{
    background-color: blue;
}
.title{
    font-size: 30px;
    margin-left: 25px;
}
.li{
    border: 1px solid orange;
    border-radius: 5px;
    background-color: yellow;
    width: 150px;
    padding-left: 15px;
    list-style-type:none;
    height: 30px;
    color: brown;
    margin-bottom: 10px;
    font-size: 18px;
    padding-top: 10px;
}